%h1= values["list_title"]
- type = values["list_title"].downcase
- any_hidden = false

%ol#index-entries{ :class => type }
  - for entry in values["entries"]
    - hide = type == 'files' && entry['name'] =~ /\.rb$/
    - any_hidden = true if hide
    %li{ :class => hide ? 'other' : nil }= link_to entry['name'], entry['href']

  - if any_hidden
    %li
      %a.show{ :href => '#', :onclick => 'this.parentNode.parentNode.className += " expanded"; this.parentNode.removeChild(this); return false' } show all
