#file
  .header
    .name= values["short_name"]
    .paths
      = values["full_path"]
      - if values["cvsurl"]
        == (#{link_to 'view online', values["cvsurl"]})
    .last-update
      Last Update:
      %span.datetime= values["dtm_modified"]

  #content~ yield
