%h1= values[:list_title]
- any_hidden = false

%ol#index-entries{ :class => 'files' }
  - values[:files].each do |file|
    - hide = file.name =~ /\.rb$/
    - any_hidden = true if hide
    %li{ :class => hide ? 'other' : nil }= link_to file.name, file.path

  - if any_hidden
    %li
      %a.show{ :href => '#', :onclick => 'this.parentNode.parentNode.className += " expanded"; this.parentNode.removeChild(this); return false' } show all
