- main_description = extract_main_heading current_page.description

- content_for :header do
  - unless :main == page_type
    .breadcrumbs
      = link_to "← main", relative_path('index.html')
    
  %h1&= page_title

#main.description
  ~ sanitize_code_blocks main_description
