!!! strict
%html{ :lang => "en" }
  %head
    %title&= page_title
    %meta{ 'http-equiv' => "Content-Type", :content => "text/html; charset=#{page_encoding}" }
    %link{ :rel => "stylesheet", :href => relative_path('styles.css'), :type => "text/css", :media => "screen" }
        
  %body
    #wrapper
      #content= yield
      #footer-push
    #footer
      = link_to '<strong>Hanna</strong> RDoc template', 'http://github.com/mislav/hanna/tree/master'
