- content_for :sidebar do
  .list_box
    %h2 Files
    - any_hidden = false
    %ol#files
      - for file in files
        - hide = file.name =~ /\.(rb|c)$/
        - any_hidden = true if hide
        %li{ :class => hide ? 'other' : nil }
          = link_to file.base_name, file.path
      - if any_hidden
        %li
          %a.show_hidden{ :href => '#', :onclick => 'this.parentNode.parentNode.className += " expanded"; this.parentNode.removeChild(this); return false' } show all

  .list_box
    %h2 Classes
    %ol#classes
      = render_class_tree make_class_tree(classes)

  .list_box
    %h2 Methods
    %ol#methods
      - for method in methods
        %li{ :class => method.visibility }
          %a{ :href => method.path }
            %span.name= method.name
            %span.classmod== (#{method.parent.full_name})
